{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    "add-react-displayname",
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "alias": {
          "react-dom/server": "../node_modules/react-apollo/react-apollo.browser.umd.js"
        }
      }
    ]
  ]
}