{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": ["add-react-displayname",
    [
      "module-resolver",
      {
        "alias": {
          "react-dom/server": "../node_modules/react-apollo/react-apollo.browser.umd.js"
        }
      }
    ]]
}
